#experiences .col {
    padding: 1rem;
    margin: 1rem auto;
}

#experiences .col-time {
    max-width: 10%;
    border-radius: 1rem;
    background: var(--gray-lightgray);
    border: 0.2rem solid var(--gray-slategray);
    color: var(--color-primary-4);
}
#experiences .exp-title {
    border-radius: 1rem;
    border: 0.2rem solid var(--color-secondary-1-0);
    background: var(--gray-lightgray);
}

#experiences h4,
#experiences span,
#experiences i{
    color: var(--color-secondary-2-0);
}
#experiences .exp-detail {
    background: var(--gray-lightgray);
    border-radius: 1rem;
    border: 0.2rem solid var(--gray-gray);
}

#experiences .col-time .fas {
    font-size: 2rem;
    -webkit-text-stroke: 0.1rem;
    -webkit-text-stroke-color: var(--color-secondary-1-4);
}

#experiences h3 {
    color: var(--color-secondary-1-4);
}

#experiences a {
    text-decoration: none;
}

#experiences .exp-title:hover>i {
    color: var(--color-secondary-1-0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
}

#experiences h5 {
    color: var(--color-primary-4);
}

#experiences p {
    font-weight: bold;
    color: var(--gray-gray);
}

@media (max-width: 767.98px) {
    #experiences h5,
    #experiences span,
    #experiences h4,
    #experiences h3,
    #experiences p{
        font-size: 90%;
    }
    #experiences .col-time {
        max-width: 20%;
    }
}

@media (max-width: 991.98px) {
    #experiences .col-time {
        max-width: 15%;
    }
}