body {
    max-width: 1200px;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background: var(--gray-silver);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    color: var(--color-secondary-2-3);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--gray-black);
    font-family: 'crete round', sans-serif;
}